{% extends 'mailing/index.html' %}
{% load tags %}
{% block content %}
<h3>
    Попытки рассылок
</h3>
<div class="row row-cols-md-3 text-center ">
    <div class="col themed-grid-col "><h6>Тема сообщения</h6></div>
    <div class="col themed-grid-col "><h6>Статус рассылки</h6></div>
    <div class="col themed-grid-col "><h6>Последняя попытка</h6></div>
</div>
{% for attempt in object_list %}
    <div class="row row-cols-md-3 text-center border">
        <div class="container-fluid themed-container text-center border"><a>{{ attempt.mailing.message}}</a></div>
        <div class="container-fluid themed-container text-center border"><a>{% if attempt.status %}Отправлено успешно{% else %} {{ attempt.server_response }}{% endif %}</a></div>
        <div class="container-fluid themed-container text-center border"><a>{{ attempt.created_at }}</a></div>
    </div>
{% endfor %}
{% endblock %}