{% extends 'mailing/index.html' %}
{% load tags %}
{% block content %}
<h3>
    Клиенты
</h3>
<div class="row row-cols-md-4 text-center">
    <div class="col themed-grid-col"><h6>ФИО</h6></div>
    <div class="col themed-grid-col"><h6>Почта</h6></div>
    <div class="col themed-grid-col"><h6>Комментарий</h6></div>
</div>
{% for client in object_list %}
    {% if client.autor == user %}
    <div class="row row-cols-md-4 text-center border">
        <div class="container-fluid themed-container text-center border"><a>{{ client.name }}</a></div>
        <div class="container-fluid themed-container text-center border"><a>{{ client.email }}</a></div>
        <div class="container-fluid themed-container text-center border"><a>{{ client.comment }}</a></div>
        <div class="container-fluid themed-container text-center border">
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'mailing:client_update' client.pk %}"
                   role="button">Изменить</a>
                <a class="btn btn-primary" href="{% url 'mailing:client_delete' client.pk %}"
                   role="button">Удалить</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}