{% extends 'mailing/index.html' %}
{% load tags %}
{% block content %}
<h3>
    Сообщения
</h3>
<div class="row row-cols-md-3 mb-3 text-center">
    <div class="col themed-grid-col"><h6>Тема</h6></div>
    <div class="col themed-grid-col"><h6>Содержание</h6></div>
    <div class="col themed-grid-col"><h6></h6></div>
</div>
{% for message in object_list %}
            {% if message.autor == user %}
    <div class="row row-cols-md-3 mb-3 text-center">
        <div class="container-fluid themed-container text-center"><a>{{ message.title }}</a></div>
        <div class="container-fluid themed-container text-center"><a>{{ message.content |slice:"100" }}</a></div>
        <div class="container-fluid themed-container text-center">
            <div class="btn-group">
                 <a class="btn btn-primary" href="{% url 'mailing:message_detail' message.pk %}"
                                   role="button">Посмотреть</a>
                                <a class="btn btn-primary" href="{% url 'mailing:message_update' message.pk %}"
                                   role="button">Изменить</a>
                                <a class="btn btn-primary" href="{% url 'mailing:message_delete' message.pk %}"
                                   role="button">Удалить</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}